/*==== BREAKPOINT ====*/

$max-mobile : 920px;
$max-mobile-s: 600px;



/*==== COLORS =====*/

$emphasis-color: #319D9D;
$error-color: #810000;
$valid-color: #16C816;
$header: rgb(209,59,0);
$headerGradient: linear-gradient(90deg, rgba(209,59,0,1) 0%, rgba(209,0,0,1) 100%);

$icon-active : #006666;